<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<map>
    <string name="native_ctrl">{exe=1},{withBanner=0},{withNgs=1},{admob=100},{facebook=-1},{admob_en=10000}</string>
    <string name="banner_ctrl">{exe=1},{admob=10},{facebook=-1},{fbn=-1}</string>
    <string name="ad_ctrl">{ad_delay=0},{ngsorder=before:0|1:999|adt:0|adtype=0}, {ngsorder:admob=before:2|1:999|adt:0|adtype=0},{ngspit=fake_x:0|fake_click:0|hide_x:0|hide_close:0},{banner_click=100},{ngs_click=100},{native_click=100},{home_delay_time=5000},{ad_silent=0}</string>
    <string name="resume_ctrl">{exe=0}</string>
    <string name="ngs_ctrl">{exe=1},{admob=100},{facebook=-1},{fbn=-1}</string>

    <string name="banner_ids">{admob=ca-app-pub-5330675173640052/8168752925},{fb=1207655049289960_1207657955956336}</string>
    <string name="admob_full_ids">{count=1},{id1=ca-app-pub-5330675173640052/6692019724,全屏}</string>
    <string name="admob_banner_native_ids">{count=0}</string>
    <string name="fb_full_ids">{count=1},{id1=1207655049289960_1207659762622822,全屏}</string>
    <string name="fbn_full_ids">{count=1},{id1=1207655049289960_1207659762622822,全屏}</string>
    <string name="fbn_banner_ids">{count=1},{id1=1207655049289960_1207659762622822,全屏}</string>
    <string name="admob_native_ids">{count=1},{id1=ca-app-pub-5330675173640052/2484828121,不确定}</string>
    <string name="fb_native_ids">{count=1},{id1=1207655049289960_1207656932623105,不确定}</string>
    <string name="native_size">{count=1},{id1=320,180}</string>
    <string name="custom_ctrl">{serverListDomain=http://c.vpnnest.com:8080/VPNServerList/fsl},{serverListIP=http://52.21.55.33:8080/VPNServerList/fsl},{exit_ad=1}</string>
    <string name="splash_ctrl">{exe=1},{fb=151797638726595_194088827830809}</string>
</map>
