<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androapplite.vpn3">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.androapplite.shadowsocks.ShadowsocksApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- 参数修改片段 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="588708daf43e48200f0014d9" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Google" />

        <meta-data
            android:name="app_license"
            android:value="7db18c5448e87e93a4f0d21745fb51ca"/>

        <provider
            android:name="com.duapps.ad.stats.DuAdCacheProvider"
            android:authorities="${applicationId}.DuAdCacheProvider"
            android:exported="false">
        </provider>


        <!-- 完全覆盖区-Start -->
        <!--android:taskAffinity="com.bestgo.ads.task"-->
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.androapplite.shadowsocks.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="52a14ce59287e0edc5512692515ab0270feaef99" />

        <service android:name="com.androapplite.shadowsocks.service.ServerListFetcherService" />

        <activity
            android:name="com.androapplite.shadowsocks.activity.ServerListActivity"
            android:label="@string/server_list" />
        <activity
            android:name="com.androapplite.shadowsocks.activity.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.androapplite.shadowsocks.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name="com.vm.shadowsocks.core.LocalVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="com.androapplite.shadowsocks.service.VpnManageService"
            android:enabled="true"
            android:exported="true" />

        <service
        android:name="com.androapplite.shadowsocks.service.IpCountryIntentService"
        android:exported="false"/>
        <receiver android:name="com.androapplite.shadowsocks.broadcast.MyMultipleReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.androapplite.shadowsocks.activity.WarnDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/InactiveUser">
        </activity>
        <service
            android:name="com.androapplite.shadowsocks.service.WarnDialogShowService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name="com.androapplite.shadowsocks.activity.NetworkAccelerationActivity"
            android:label="@string/network_acceleration"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.androapplite.shadowsocks.activity.RecommendActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.androapplite.shadowsocks.activity.VPNConnectResultActivity"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>